<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header >
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>y.y</p>
            <p><a href="mailto:djkehh@gmail.com">uno@gmail.com</a></p>
            <p><time datetime="2022-02-22T00:00:00">2022-02-22</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문</p><br>

            <div>
                <form action="">
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-01-31</small></time>
                            <strong>yuno</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur address
                                Loem is dolor sit amt.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-12-31</small></time>
                            <strong>user</strong>
                            <p>
                                jaweiofjaoiwejfawejfaiowefaw
                                ef
                                awef
                                awef
                                we
                                fawe
                                afwefefwef
                                jbk
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav class="page-pagingation" role="navigation">
                <a class="page-previous" href="/articles/GiKral">이전 글</a>
                <a class="page-next" href="/articles/I-became-next" >다음 글</a>
            </nav>
        </section>

    </main>
    <footer id="footer"></footer>

</body>
</html>