<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>

    <header id="header" />

    <main>
        <form>
            필터 : 제목, 본문
            <label for="search-type" hidden></label>
            <select id="search-type" name="search-type" >
                <option></option>
                <option></option>
                <option></option>
                <option></option>
            </select>

            <label for="search-value" hidden>검색어</label>
            <input type="text" name="search-value" id="search-value" placeholder="검색어를 입력하세요.">
            <button type="submit" >검색</button>
        </form>
    <nav>navigation</nav>
    </main>

    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>태그</th>
                <th>생성일자</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1123</td>
                <td>112312312</td>
                <td>1</td>

            </tr>
            <tr>
                <td>1</td>
                <td>1rwqerew</td>
                <td>qweqwe</td>
                <td>1</td>

            </tr>
            <tr>
                <td>3</td>
                <td>5555</td>
                <td>64356345</td>
                <td>123123</td>

            </tr>
            <tr>
                <td>22</td>
                <td>444</td>
                <td>123</td>
                <td>1</td>

            </tr>
        </tbody>

    </table>

    <article>기사</article>

    <footer id="header"/>


</body>
</html>